.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button {
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.741);
    font-size: 1.4rem;
    color: #fff;
}